<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tailwind CSS 3 Simple Chat UI </title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body style= "background:url(https://wallpaperaccess.com/full/3643882.jpg); background-repeat:no-repeat; background-attachment:fixed; background-size:100% 100%;">
    


    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <nav class="flex lg:w-2/5 flex-wrap items-center text-base md:ml-auto">
            
          </nav>
          <a class="flex order-first lg:order-none lg:w-1/5 title-font font-medium items-center text-gray-900 lg:items-center lg:justify-center mb-4 md:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            <span class="ml-3 text-5xl">Raahi Blogs</span>
          </a>
          <div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0">
            
             
            </button>
          </div>
        </div>
      </header>







      <section class="text-gray-600 body-font overflow-hidden">
        <div class="container px-5 py-24 mx-auto">
          <div class="-my-8 divide-y-2 divide-gray-100">
            <div class="py-8 flex flex-wrap md:flex-nowrap">
              <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span class="font-semibold title-font text-gray-700"></span>
                <span class="mt-1 text-gray-500 text-sm"></span>
              </div>
              <div class="md:flex-grow">



                <div class="flex flex-wrap justify-left">
                    <img
                    src="https://image.freepik.com/free-photo/portrait-happy-young-gay-woman-holding-lgbt-rainbow-flag-focus-face_166273-867.jpg"
                    class="p-1 bg-white border rounded max-w-sm"
                    alt="..."
                  />
                  
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">India’s finest drag queens who are breaking stereotypes and inspiring many</h2>
                <p class="leading-relaxed">Did you know about the thriving drag culture in India? All thanks to Mr. Keshav Suri for giving all of them a huge platform to perform and also to bring International drag queens to perform in India. The Lalit Hotel hosts drag night every Thursday in Delhi, Mumbai and Bangalore and sometimes in Chandigarh and Kolkata, where a lot of local queens get to perform and also get a chance to share the stage with the International drag queens...
                    
                </p>
                <a class="text-indigo-500 inline-flex items-center mt-4">Read More
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                
                </a>
              </div>
            </div>
            <div class="py-8 flex flex-wrap md:flex-nowrap">
              <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span class="font-semibold title-font text-gray-700"></span>
                <span class="mt-1 text-gray-500 text-sm"></span>
              </div>
            </div>
              <div class="md:flex-grow">



                <div class="flex flex-wrap justify-left">
                    <img
                    src="https://imgk.timesnownews.com/story/1536325831-LGBTQ_IANS.jpg?tr=w-1200,h-900"
                    class="p-1 bg-white border rounded max-w-sm"
                    alt="..."
                  />





                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">A tale of Endeavors and Serendipity</h2>
                <p class="leading-relaxed">There are always certain questions that come to our minds when we think of love. How do we find love? How do we know that the person who we have chosen is the right one? And if everything goes well, how will our families accept our relationship and the immutable love that we have for each other? For some, the answers are readily available, but for some, they have to fight their battles. </p>
                <a class="text-indigo-500 inline-flex items-center mt-4">Read More
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
            <div class="py-8 flex flex-wrap md:flex-nowrap">
              <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span class="font-semibold title-font text-gray-700"></span>
                <span class="text-sm text-gray-500"></span>
              </div>
            </div>

              <div class="md:flex-grow">
                  
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Celebrating 4 years of togetherness of our favourite couple!</h2>
                <p class="leading-relaxed">Before we get to the couple goals, let’s get to know the guys a little better in their own words. Suresh Ramdas (SR)is tall, dark and handsome.He is bald with an infectious smile and a voice that’s soothing yet loud. Suresh, whose roots are from Tamil Nadu, was born in Mumbai and raised in various parts of Karnataka like Mysore and Manipal. Now he is residing in Bengaluru since 2003. A proud 38 years young guy who works in the...</p>
                <a class="text-indigo-500 inline-flex items-center mt-4">Read More
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>


























</body>
</html>