
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Socialize : Home Page</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" re>
<link rel="stylesheet" href="{% static 'blog/css/instastyle.css'%}">
</head>
<body>

<!-- navbar -->
<nav class="navbar">
    <img src="{% static 'blog/img/logo2.png' %}" class="logo" alt="">
    <form class="search-box">
        <input type="text" placeholder="search" name="search-query" id="search-input">
        <button class="search-btn" type="submit"><img src="{% static 'blog/img/search.png' %}" class="search-icon" alt=""></button>
    </form>
    <div class="nav-links">
        <a href="#" class="nav-links"><img src="{% static 'blog/img/home-fill.png' %}" class="nav-icon" alt=""></a>
        <div class="activity-log">
            <img src="{% static 'blog/img/heart-nofill.png' %}" class="nav-icon" alt="">
            <div class="activity-container hide">
                <div class="activity-card">
                    <img src="{% static 'blog/img/user1.png' %}" class="user-img" alt="">
                    <p class="activity"><b>@siri</b> liked your post</p>
                    <img src="{% static 'blog/img/post1.png' %}" class="activity-post" alt="">
                </div>
                <div class="activity-card">
                    <img src="{% static 'blog/img/user2.png' %}" class="user-img" alt="">
                    <p class="activity"><b>@siri</b> liked your post</p>
                    <img src="img/post1.png" class="activity-post" alt="">
                </div>
                <div class="activity-card">
                    <img src="{% static 'blog/img/user1.png' %}" class="user-img" alt="">
                    <p class="activity"><b>@siri</b> liked your post</p>
                    <img src="{% static 'blog/img/post1.png' %}" class="activity-post" alt="">
                </div>
                <div class="activity-card">
                    <img src="{% static 'blog/img/user3.png' %}" class="user-img" alt="">
                    <p class="activity"><b>@siri</b> liked your post</p>
                    <img src="{% static 'blog/img/post1.png' %}" class="activity-post" alt="">
                </div>
            </div>
        </div>
        <a href="#" class="nav-links"><img src="{% static 'blog/img/add-nofill.png' %}" class="nav-icon" alt=""></a>
        <a href="#" class="nav-links"><img src="{% static 'blog/img/profile-img.png' %}" class="nav-icon user-profile" alt=""></a>
    </div>
</nav>

<!-- main section -->
<section class="main">
    <!-- post section -->
    <div class="post-container">
        <div class="post">
            <div class="post-header">
                <img src="{% static 'blog/img/user2.png' %}" class="user-icon" alt="">
                <p class="username">@modernweb</p>
            </div>
            <div class="post-feed">
                <div class="flex flex-wrap">
                    <img
                    src="{{post.image.url}}"
                    class="p-1 bg-white border rounded max-w-sm object-center mb-2"
                    alt="..."
                    style="margin-bottom:10px;"
                  >
                  
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2"  style="margin-bottom:10px;">{{post.title}}</h2>
                <p class="leading-relaxed">
                    {{post.text}}
                </p>
            </div>
            <div class="post-detail">
                <div class="detail-intracables">
                    <img src="{% static 'blog/img/heart-nofill.png' %}" class="like-btn" alt="">
                    <img src="{% static 'blog/img/send-nofill.png' %}" class="send-btn" alt="">
                    <img src="{% static 'blog/img/comment-nofill.png' %}" class="comment-btn" alt="">
                </div>
                <span class="likes">2.7k likes</span>
                <p class="username">@modernweb</p>
                <p class="post-des">Equality means more than passing laws.</p>

                <div class="comment-box">
                    <input type="text" id="comment-input" placeholder="Add a comment">
                    <button class="add-comment-btn"><img src="img/comment-nofill.png" alt=""></button>
                </div>

                <span class="comment-count">300 comments</span>
            </div>
        </div>
        +2 more posts
    </div>
</section>

<script src="{% static 'blog/js/post.js' %}"></script>



</body>
</html>