<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Checkout</title>
    
</head>
  
  <body class="bg-gray-100">
    <div class="container mx-auto mt-10">
      <div class="flex shadow-md my-10">
        <div class="w-3/4 bg-white px-10 py-10">
          <div class="flex justify-between border-b pb-8">
            <h1 class="font-semibold text-2xl">Order Summary</h1>
            <h2 class="font-semibold text-2xl">{{count}} Item(s)</h2>
          </div>
          <div class="flex mt-10 mb-5">
            <h3 class="font-semibold text-gray-600 text-xs uppercase w-2/5">Product Details</h3>
            <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Quantity</h3>
            <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Price</h3>
            <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Total</h3>
          </div>
          {% for item in items %}
          <div class="flex items-center hover:bg-gray-100 -mx-8 px-6 py-5">
            <div class="flex w-2/5"> 
              <div class="w-20">
                <img class="h-24" src="{{item.product.image.url}}" alt="">
              </div>
              <div class="flex flex-col justify-between ml-4 flex-grow">
                <span class="font-bold text-sm">{{item.product.name}}</span>
              </div>
            </div>
            <div class="flex justify-center w-1/5">
              <span class="mx-2  text-center w-8">{{item.quantity}}</span>
            </div>
            <span class="text-center w-1/5 font-semibold text-sm">₹{{item.product.price}}</span>
            <span class="text-center w-1/5 font-semibold text-sm">₹{{item.price}}</span>
          </div>
          {% endfor %}
  
  
          <a href="{% url 'cart' %}" class="flex font-semibold text-indigo-600 text-sm mt-10">
        
            <svg class="fill-current mr-2 text-indigo-600 w-4" viewBox="0 0 448 512"><path d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z"/></svg>
            Cancel
          </a>
        </div>
  
        <div id="summary" class="w-1/4 px-8 py-10">
          <h1 class="font-semibold text-2xl border-b pb-8">Deliver to</h1>
          <div class="flex justify-between mt-10 mb-5">
            <span class="font-semibold text-sm uppercase">Items: {{count}}</span>
          </div>
          <div class="border-t mt-8">
            <div class="flex font-semibold justify-between py-6 text-sm uppercase">
              <span>Total cost</span>
              <span>₹{{amount}}</span>
            </div>
            <div class="flex font-semibold justify-between py-6 text-sm uppercase">
              <span>Payment through Cash on Delivery</span>
            </div>
            <div class="flex font-semibold justify-between py-6 text-sm uppercase">
              <span>Address</span>
              <span>{{customer.address}}</span>
            </div>
            <form action='/checkout/' method='POST'>
               {% csrf_token %} 
                <button type='submit' class="bg-indigo-500 font-semibold hover:bg-indigo-600 py-3 text-sm text-white uppercase w-full">Place Order</button>
            </form>
        </div>
        </div>
  
      </div>
    </div>
  </body>
  </html>