<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="{% static 'shop/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/product.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="nav">
            <a href="{% url 'homepage' %}"><img src="{% static 'shop/images/logo.png' %}" class="brand-logo" alt=""></a>
            <div class="nav-items">
                <form method="POST" action="/search/">
                    <div class="search">
                            {% csrf_token %}
                        <input type="text" name="query" class="search-box" placeholder="search brand, product">
                        <button type="submit" class="search-btn">search</button>
                    </div>
                </form>
                {% if request.user.is_anonymous %}
                <a href="/login"><img src="{% static 'shop/images/user.png' %}" alt=""></a>
                {% else %}
                <a href="/logout"><img src="{% static 'shop/images/user.png' %}" alt=""></a>
                {% endif %}
                <a href="{% url 'cart' %}"><img src="{% static 'shop/images/cart.png' %}" alt=""></a>
            </div>
                </div>
            <ul class="links-container">
            <li class="link-item"><a href="{% url 'homepage' %}" class="link">Home</a></li>
            <li class="link-item"><a href="#" class="link">Ally</a></li>
            <li class="link-item"><a href="#" class="link">Merch</a></li>
            <li class="link-item"><a href="#" class="link">Homemade</a></li>
            {% if user.is_authenticated %}
        <li class="link-item"><a href="{% url 'seller-dashboard' %}" class="link">Dashboard</a></li>
        <li class="link-item"><a href="{% url 'chat' %}" class="link">Public Chat</a></li>
        {% endif %}
        
            </ul>
    </nav>
    <section class="product-details">
        <div class="image-slider" style="background-image: url({{product.image1.url}});">
            <div class="product-images">
                <img src="{{product.image1.url}}" class="active" alt="">
                <img src="{{product.image2.url}}" alt="">
                <img src="{{product.image3.url}}" alt="">
                <img src="{{product.image4.url}}" alt="">
            </div>
        </div>
        <div class="details">
            <h2 class="product-brand">{{product.name}}</h2>
            <p class="product-short-des"> {{product.desc}}</p>
            <span class="product-price">₹{{product.price}}</span>
            
    
            <p class="product-sub-heading">select size</p>
    
            <input type="radio" name="size" value="s" checked hidden id="s-size">
            <label for="s-size" class="size-radio-btn check">s</label>
            <input type="radio" name="size" value="m" hidden id="m-size">
            <label for="m-size" class="size-radio-btn">m</label>
            <input type="radio" name="size" value="l" hidden id="l-size">
            <label for="l-size" class="size-radio-btn">l</label>
            <input type="radio" name="size" value="xl" hidden id="xl-size">
            <label for="xl-size" class="size-radio-btn">xl</label>
            <input type="radio" name="size" value="xxl" hidden id="xxl-size">
            <label for="xxl-size" class="size-radio-btn">xxl</label>
    
            <form method="POST" action="/cart/">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{product.id}}">
            <button class="btn cart-btn">add to cart</button>
            </form>
            {% comment %} <button class="btn">add to wishlist</button> {% endcomment %}
        </div>
    </section>
    <section class="product">
        <h2 class="product-category">best selling</h2>
        <button class="pre-btn"><img src="{% static 'shop/images/arrow.png' %}" alt=""></button>
<button class="nxt-btn"><img src="{% static 'shop/images/arrow.png' %}" alt=""></button>
        <div class="product-container">
            <div class="product-card">
                <div class="product-image">
                    
                    <img src="{% static 'shop/images/card1.png' %}" class="product-thumb" alt="">
                    <button class="card-btn">add to cart</button>
                </div>
                <div class="product-info">
                   
                    <p class="product-short-des">a short line about the cloth..</p>
                    <span class="price">₹200</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    
                    <img src="{% static 'shop/images/card1.png' %}" class="product-thumb" alt="">
                    <button class="card-btn">add to cart</button>
                </div>
                <div class="product-info">
                    
                    <p class="product-short-des">a short line about the cloth..</p>
                    <span class="price">₹200</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    
                    <img src="{% static 'shop/images/card1.png' %}" class="product-thumb" alt="">
                    <button class="card-btn">add to cart</button>
                </div>
                <div class="product-info">
                    
                    <p class="product-short-des">a short line about the cloth..</p>
                    <span class="price">₹200</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    
                    <img src="{% static 'shop/images/card1.png' %}" class="product-thumb" alt="">
                    <button class="card-btn">add to cart</button>
                </div>
                <div class="product-info">
                    
                    <p class="product-short-des">a short line about the cloth..</p>
                    <span class="price">₹200</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    
                    <img src="{% static 'shop/images/card1.png' %}" class="product-thumb" alt="">
                    <button class="card-btn">add to cart</button>
                </div>
                <div class="product-info">
                    
                    <p class="product-short-des">a short line about the cloth..</p>
                    <span class="price">₹200</span>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    
                    <img src="{% static 'shop/images/card1.png' %}" class="product-thumb" alt="">
                    <button class="card-btn">add to cart</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-image">
                    
                    <img src="{% static 'shop/images/card1.png' %}" class="product-thumb" alt="">
                    <button class="card-btn">add to cart</button>
                </div>
            </div>
            
        </div>
    </section>

    <footer>
        <div class="footer-content">
            <img src="{% static 'shop/images/logo.png' %}" class="logo" alt="">
            <div class="footer-ul-container">
                <ul class="category">
                    <li class="category-title">Items</li>
                    <li><a href="#" class="footer-link">Homemade Items</a></li>
                    <li><a href="#" class="footer-link">Food</a></li>
                    <li><a href="#" class="footer-link">T-shirts</a></li>
                    <li><a href="#" class="footer-link">jeans</a></li>
                    <li><a href="#" class="footer-link">trousers</a></li>
                    <li><a href="#" class="footer-link">shoes</a></li>
                    
                </ul>
                <ul class="category">
                    <li class="category-title">Info</li>
                    <li><a href="{% url 'contact' %}" class="footer-link">Contact us</a></li>
                    <li><a href="#" class="footer-link">FAQs</a></li>
                    <li><a href="#" class="footer-link">Our team</a></li>
                    <li><a href="{% url 'events' %}" class="footer-link">Events</a></li>
                    <li><a href="{% url 'support' %}" class="footer-link">Donate us</a></li>
                    
                    
                    
                </ul>
            </div>
        </div>
    </footer>
    <script src="{% static 'shop/js/home.js' %}"></script>
    <script src="{% static 'shop/js/product.js' %}"></script>
</body>
</html>